@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --orange-bg: rgba(251, 100, 111);
    --light-dark: #232d38;
    --glass-light-dark: rgba(42, 50, 67);
    --white: #f1f1f1;
    --grey: #404040;
}

body {
    background-color: var(--light-dark);
}

.aurora-container {
    width: 100%;
    height: 100%;
 }

.dark_glass_bg {
    background-color: rgba(11, 11, 12, 0.7);
    backdrop-filter: blur(10px);
}

@layer {

    .connect-btn {
        @apply text-textWhite font-semibold text-[.8vmax] bg-secondaryAlt py-[8px] px-[10px] rounded-[8px];
    }

       /* display */
    .flex-row-center {
        @apply flex items-center;
    }

    .flex-col-center {
        @apply flex flex-col items-center;
    }


    .percentage-settings {
        @apply w-[fit-content] p-[8px] rounded-[10px] bg-main text-secondaryAlt cursor-pointer;
    }

    /* transitions */
    .transition_500 {
        @apply  transition-all duration-500;
    }

    .fade_in_top {
        @apply translate-x-[0px] opacity-[1];
    }

    .fade_out_btm {
        @apply translate-x-[-760px];
    }

    .fade_in_left {
        @apply translate-x-[0px] opacity-[1];
    }

    .fade_out_right {
        @apply translate-x-[620px] opacity-0;
    }

    .scale_in {
        @apply scale-[1] opacity-[1];
    }

    .scale_out {
        @apply scale-[0] opacity-0;
    }


    /* swap info */
    .swap_info_title {
         @apply font-normal text-[.8vmax]; 
    }

    .swap_info_value {
        @apply font-bold text-[.7vmax];
    }

    .swap_btns {
        @apply w-[50%] bg-secondary text-main cursor-pointer;
        backdrop-filter: blur(20px);
    }

    /* styled a link */
    .active_link {
        @apply font-semibold text-[.9vmax] rounded-[10px] py-[4px] px-[15px] hover:bg-[var(--orange-bg)] hover:text-textOrange transition-[background_color] duration-500;
    }

}

/* SHADOWS */
.card_shadows {
    box-shadow: 2px 2px 60px 4px var(--light-dark), -2px -2px 60px 4px var(--light-dark); 
}


/* SWAP */
.swap_dark_glass {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: var(--glass-light-dark);
}

/* BRIDGE */
.bridge_dark_glass {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: var(--glass-light-dark);
}
