@tailwind base;
@tailwind components;
@tailwind utilities;


@layer {

       /* display */
    .flex-row-center {
        @apply flex items-center;
    }

    .flex-col-center {
        @apply flex flex-col items-center;
    }


    .percentage-settings {
        @apply w-[fit-content] p-[8px] rounded-[10px] bg-main text-secondary cursor-pointer;
    }

    /* transitions */
    .transition_500 {
        @apply  transition-all duration-500;
    }

    .fade_in_top {
        @apply translate-x-[0px] opacity-[1];
    }

    .fade_out_btm {
        @apply translate-x-[-760px];
    }

    .fade_in_left {
        @apply translate-x-[0px] opacity-[1];
    }

    .fade_out_right {
        @apply translate-x-[620px] opacity-0;
    }

    .scale_in {
        @apply scale-[1] opacity-[1];
    }

    .scale_out {
        @apply scale-[0] opacity-0;
    }


    /* swap info */
    .swap_info_title {
         @apply font-normal text-[14px] md:text-[16px] lg:text-[18px]; 
    }

    .swap_info_value {
        @apply font-bold text-[12px] md:text-[14px] lg:text-[16px];
    }

    .swap_btns {
        @apply w-[50%] bg-secondary text-main cursor-pointer;
        backdrop-filter: blur(20px);
    }

    /* styled a link */
    .active_link {
        @apply font-semibold text-[.8vmax] rounded-[10px] py-[4px] px-[15px] hover:bg-textOrange hover:text-secondaryAlt transition-[background_color] duration-500;
    }
}