@tailwind base;
@tailwind components;
@tailwind utilities;


@layer {

    /* swap info */
    .swap_info_title {
         @apply font-normal text-[14px] md:text-[16px] lg:text-[18px]; 
    }

    .swap_info_value {
        @apply font-bold text-[12px] md:text-[14px] lg:text-[16px];
    }

    .swap_btns {
        @apply w-[50%] bg-secondary text-main cursor-pointer;
        backdrop-filter: blur(20px);
    }

    /* styled a link */
    .active_link {
        @apply font-semibold text-[.8vmax] rounded-[10px] py-[4px] px-[15px] hover:bg-textOrange hover:text-secondaryAlt transition-[background_color] duration-500;
    }
}