@tailwind base;
@tailwind components;
@tailwind utilities;


@layer {

    /* swap info */
    .swap_info_title {
         @apply font-normal text-[14px] md:text-[16px] lg:text-[18px]; 
    }

    .swap_info_value {
        @apply font-bold text-[12px] md:text-[14px] lg:text-[16px];
    }

    .swap_btns {
        @apply w-[50%] bg-secondary text-main btn_trans cursor-pointer;
    }
}