@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #dfc2cb;
}

.btn_trans {
    /* background-color: #eb0e8f; */
    backdrop-filter: blur(20px) ;
}

 /* theme */
.main-theme {
    backdrop-filter: blur(10px);
    background: rgba(176, 51, 132, 0.2);
}

.second-theme {
    backdrop-filter: blur(10px);
    background: rgba(178, 63, 134, 0.62);
}

@layer {


    /* display */
    .flex-row-center {
        @apply flex items-center
    }

    .flex-col-center {
        @apply flex flex-col items-center
    }


    .percentage-settings {
        @apply w-[fit-content] p-[8px] rounded-[10px] bg-main text-secondary;
    }
}