@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #040208;
    height: 100vh;
    overflow-x: hidden;
}

.btn_trans {
    /* background-color: #eb0e8f; */
    backdrop-filter: blur(20px) ;
}

 /* theme */
.main-theme {
    backdrop-filter: blur(10px);
    background: rgba(176, 51, 132, 0.2);
}

.second-theme {
    backdrop-filter: blur(10px);
    background: rgba(178, 63, 134, 0.62);
}
