@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #040208;
    height: 100vh;
    overflow-x: hidden;
}

.btn_trans {
    /* background-color: #eb0e8f; */
    backdrop-filter: blur(20px) ;
}

 /* theme */
.main-theme {
    backdrop-filter: blur(10px);
    background: rgba(176, 51, 132, 0.2);
}

.second-theme {
    backdrop-filter: blur(10px);
    background: rgba(178, 63, 134, 0.62);
}

@layer {

    /* display */
    .flex-row-center {
        @apply flex items-center
    }

    .flex-col-center {
        @apply flex flex-col items-center
    }


    .percentage-settings {
        @apply w-[fit-content] p-[8px] rounded-[10px] bg-main text-secondary;
    }

    /* transitions */
    .transition_500 {
        @apply  transition-all duration-500;
    }

    .fade_in_top {
        @apply translate-y-[0px] opacity-[1];
    }

    .fade_out_btm {
        @apply translate-y-[840px] opacity-0;
    }

    .fade_in_left {
        @apply translate-x-[0px] opacity-[1];
    }

    .fade_out_right {
        @apply translate-x-[620px] opacity-0;
    }

    .scale_in {
        @apply scale-[1] opacity-[1];
    }

    .scale_out {
        @apply scale-[0] opacity-0;
    }

}